html, body {
    margin: 0px;
    padding: 0px;
    background: white;
    
    font-family: 'Josefin Slab', serif;
    /*font-family: plain,Helvetica Neue,Helvetica,Arial,sans-serif;*/
   
}
::-webkit-scrollbar { display:none; }
img {
  background: url(https://scavengg.com/photos/loading_gif.gif) 50% no-repeat;
  background-size: 50%;
}
::selection {
  background: #61d395; 
  color: white;
}
::-moz-selection {
  background: #61d395; 
  color: white;
}
.order_input::-ms-input-placeholder {
    color: #61d395;
    font-family: 'Roboto', sans-serif;
}
.order_input::placeholder {
    color: #61d395;
    font-family: 'Roboto', sans-serif;
}
input[type=range]{
    width: 85%;
    margin: 30px auto;
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background: #e6e6e6;
    border: none;
    border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #61d395;
    margin-top: -7.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
input[type=range]:active::-webkit-slider-thumb {
    height: 36px;
    width: 36px;
    margin-top: -10.25px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e6e6e6;
}
input, select, textarea, button {
    font-family:inherit;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
input:focus {
   outline: none;
}
textarea:focus {
   outline: none;
}
button:focus {
    outline: 0;
}
/*
select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
}
select::-ms-expand { 
    display: none; 
}*/
select:focus {
    outline: 0;
}
a {
    color: #262626;
    text-decoration: none;
}
a:hover {
    color: #262626;
    text-decoration: none;
}
.disabled_price_input {
    display: inline-block;
    min-width: 10px;
    max-width: 100px;
    height: 50px;
    padding: 10px 0px;
    margin: 15px 0px;
    font-size: 30px;
    font-weight: 800;
    background: transparent;
    color: #61d395;
    border: none;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.inputs {
    width: 100%;
    height: 50px;
    padding: 5px 0px;
    margin: 15px auto;
    font-size: 25px;
    font-weight: 600;
    background: white;
    color: #262626;
    border: none;
    border-bottom: 2px #61d395 solid;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.inputs_half {
    display: inline-block;
    width: 49%;
    height: 50px;
    padding: 5px 0px;
    margin: 15px auto;
    font-size: 25px;
    font-weight: 600;
    background: white;
    color: #262626;
    border: none;
    border-bottom: 2px #61d395 solid;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btns {
    display: block;
    min-width: 150px;
    max-width: 250px;
    height: 55px;
    margin: 15px 0px;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    background: #61d395;
    color: white;
    border: none;
    border-radius: 3px;
}
.intro_box {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;
}
.intro_text {
    font-size: 450%;
    font-weight: 600;
    width: 100%;
    margin: 8% auto;
    background: transparent;
    color: #262626;
    text-align: center;
}
.intro_actions {
    width: 100%;
    margin: 0px auto;
    background: white;
    text-align: center;
}
.panel {
    background: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 0px auto;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
    font-family: 'Roboto', sans-serif;
}
.light_btn {
    height: 70px;
    min-width: 130px;
    max-width: 225px;
    background: white;
    border: 2px #262626 solid;
    color: #262626;
    font-size: 25px;
    font-weight: 700;
    padding: 8px;
    margin: 10px 5px;
    border-radius: 3px;
}
.dark_btn {
    height: 70px;
    min-width: 130px;
    max-width: 225px;
    background: #61d395;
    border: 2px #61d395 solid;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 8px;
    margin: 10px 5px;
    border-radius: 3px;
}
#canvas {
    position:absolute;
    z-index: 100;
    top: 75%;
    left: 0%;
    width: 100%;
    padding: 40px 0px;
    font-size: 30px;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: white;
    /* Also pretty good 
    -webkit-box-shadow: 3px 2px  #e6e6e6,  -3px 0 2px #e6e6e6;
    -moz-box-shadow: 3px 0 2px #e6e6e6,  -3px 0 2px #e6e6e6;
    box-shadow: 3px 0 2px #e6e6e6,  -3px 0 2px #e6e6e6; 
    -webkit-box-shadow: 5px 5px 10px #e6e6e6;
    -moz-box-shadow: 5px 5px 10px #e6e6e6;
    box-shadow: 5px 5px 10px #e6e6e6;*/
}
.zoom:active, .zoom:hover {
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05); 
    -ms-transform: scale(1.05); 
    -o-transform: scale(1.05); 
     transform: scale(1.05);
}
.input_focus:focus {
    height: 75px;
}
.browse {
    margin: 50px auto;
}
.item {
    margin: 5px auto;
    cursor: pointer;
}
.item > img {
    min-width: 80%;
    max-width: 95%;
    min-height: 80%;
    max-height: 95%;
    margin: 0px auto;
}
.logo_box {
    display: inline-block;
    width: 95%;
    margin: 0px 2.5%;
    margin-top: 10px;
    padding: 0px;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.logo {
    min-width: 30px;
    max-width: 40px;
    min-height: 30px;
    max-height: 40px;
    background: url(https://scavengg.com/photos/logo.png) no-repeat center center;
    background-size: contain;
    margin: 10px auto;
    cursor: pointer;
}
.logo_title {
    font-family: 'Arvo', serif;
    color: #262626;
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    margin: 0px auto;
    text-align: center;
    cursor: pointer;
}
.header_text {
    font-family: 'Arvo', serif;
    color: #262626;
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 18px;
    margin: 10px auto;
    text-align: right;
    cursor: pointer;
}
.faq_link {
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.footer {
    width: 75%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #262626;
    text-align: center;
}
#back_to_top {
    position: fixed;
    display: none;
    z-index: 100;
    top: 85%;
    right: 45px;
    background: #61d395;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    min-height: 20px;
    box-shadow: none;
    background: white;
    color: #262626;
    padding: 0px 0px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#skin {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 1000;
    height: 100%;
    width: 100%;
    /*background: rgba(230, 230, 230, 0.9);*/
    background: rgba(38, 38, 38, 0.8);
}
#status_bar {
    position: fixed;
    z-index: 1000000000000000000000000;
    top: -50px;
    left: 0px;
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    background: white;
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    -webkit-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    transition: top 0.2s ease;
}
#flyout {
    position: fixed;
    z-index: 1000000;
    bottom: -90%;
    min-height: 25%;
    max-height: 90%;
    width: 100%;
    padding: 25px 20px;
    left: 0px;
    font-size: 28px;
    font-weight: 500;
    background: white;
    color: #262626;
    border: 5px white solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow-y: auto;
}
.flyout_img {
    min-width: 50%;
    max-width: 100%;
    min-height: 50%;
    max-height: 100%;
    margin: 0px auto;
    border: none;
    border-radius: 3px;
}
.block {
    position: relative;
    z-index: 10;
    top: 0px;
    left: 0%;
    width: 100%;
    min-height: 75vh;
    max-height: 300vh;
    margin: 0px auto;
    margin-top: 85px;
    background: transparent;
    padding: 0px;
    /*box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);*/
}
.block_title {
    width: 100%;
    font-size: 150%;
    padding: 0px;
    font-weight: 600;
    margin: 0px auto;
    color: #e6e6e6;
}
.order_input_div {
    width: 95%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2.5%;
    background: white;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.order_input {
    width: 100%;
    margin: 0px 0px;
    padding: 5px 10px;
    color: #61d395;
    background: transparent;
    border: none;
    border-radius: 0px;
    font-size: 25px;
    font-weight: 600;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.order_input_wrapper {
    width:93%;
    display:inline-block;
}
.order_btn {
    display: block;
    min-width: 200px;
    max-width: 100%;
    height: 60px;
    margin: 15px auto;
    margin-top: 30px;
    padding: 5px;
    background: white;
    color: #262626;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    border: 3px #262626 solid;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.phone_input {
    display: inline-block;
    width: 100%;
    height: 50px;
    font-size: 28px;
    padding: 5px;
    margin: 10px auto;
    color: #262626;
    border: none;
    border-bottom: 2px #61d395 solid;
}
.small_text {
    width: 100%;
    font-size: 15px;
    color: #e6e6e6;
    margin: 0px auto;
    margin-top: 15px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
.cost_range {
    width: 100%;
    margin: 5px auto;
    background: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search_results {
    width: 98%;
    min-height: 200px;
    margin: 10px auto;
    padding: 0px;
    font-size: 20px;
    background: white;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
#search_grid {
    width: 100%;
    text-align: center;
    margin: 0px auto;
}
.search_rows {
    width: 100%;
    background: white;
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    margin: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis; 
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: left;
    /*box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.2);*/
    cursor: pointer;
}
.search_img {
    width: 100%;
    height: 225px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.search_img:hover {
    transform: scale(1.1);
}
.hover {
    background: white;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.hover:hover {
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.2);
}
.select_input {
    min-width: 25px;
    max-width: 150px;
    height: 45px;
    border: none;
    background: white;
    border-bottom: 1px #262626 dotted;
    margin: 10px 0px;
    padding: 5px 0px;
    cursor: pointer;
}
#welcome_mess {
    display: none;
    width: 75%;
    position: relative;
    top: -35px;
    left: 75px;
    font-size: 15px;
    font-weight: 600;
}
.profile_pic {
    width: 50px;
    height: 50px;
    background: url(https://scavengg.com/photos/scavengg_round_white.png) no-repeat center center;
    background-repeat:no-repeat;
    background-size: 50px 50px;
    border: 0px white solid;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
}
#cart_pill {
    opacity: 0;
    position: relative;
    top: 35px;
    left: 35px;
    width: 15px;
    height: 15px;
    background: #61d395;
    border: 2px white solid;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#cart_icon {
    width: 50px;
    height: 50px;
    border: 2px #262626 solid;
    border-radius: 50%;
    padding: 5px;
    margin: 0px auto;
    font-size: 28px;
    font-weight: 700;
    color: #262626;
    cursor: pointer;
}
#login {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px 5%;
    font-size: 25px;
    font-weight: 700;
    color: #262626;
    background: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.close_login {
    position: relative;
    top: 10px;
    left: 0px;
    color: #262626;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    cursor: pointer;
}
.checked {
    display:none;
    color:#61d395;
    margin:5px auto;
}
#facebook_login {
    min-width: 200px;
    max-width: 325px;
    height: 75px;
    border: none;
    background: #3b5998;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 23px;
    font-weight: 700;
    padding: 20px 0px;
    margin: 20px auto;
    border-radius: 3px;
    cursor: pointer;
}
#facebook_login > img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}
.disclaimer {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #e6e6e6;
}
.payment_method {
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    min-height: 50vh;
    max-height: 100vh;
    margin: 5px auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.request_pic {
    min-width: 50%;
    max-width: 70%;
    min-height: 100px;
    max-height: 150px;
    margin: 0px auto;
    border: none;
    border-radius: 3px; 
}
.cart_pic {
    min-width: 50%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
    margin: 0px auto;
    border: none;
    border-radius: 3px;
}
.cart_text {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.cart_header {
    height: 60px;
    width: 100%;
    margin: 10px auto;
}
.cart_item_unselected {
    border-left: 5px white solid;
    background: white;
    margin: 5px;
}
.cart_item_selected {
    border-left: 5px #61d395 solid;
    background: rgba(240, 240, 240, 0.5);
    margin: 5px;
}
.cart_rows {
    padding: 10px;
}
.review_cart {
    float: right;
    min-width: 130px;
    max-width: 275px;
    background: #61d395;
    border: 2px #61d395 solid;
    border-radius: 2px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    margin: 0px;
}
.remove_from_cart {
    float: right;
    min-width: 130px;
    max-width: 275px;
    background: white;
    border: 2px #262626 solid;
    border-radius: 2px;
    color: #262626;
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    margin: 0px 5px; 
}
/*------ Pace.js plugin --------*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #61d395;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
/*-------------------------------*/
.checkout_cart {
    float: right;
    height: 70px;
    min-width: 130px;
    max-width: 200px;
    background: #61d395;
    border: 2px #61d395 solid;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 8px;
    margin: 0px;
}
#checkout_total_price {
    font-size: 200%;
    color: #61d395;
    font-weight: 700;
    padding: 10px;
    text-align: right;
}
.checkout_subtotal_price {
    font-size: 100%;
    color: #61d395;
    font-weight: 700;
    padding: 10px;
    text-align: right;  
}
#service_fee_price {
    font-size: 125%;
    color: #d6d6d6;
}
/*------------- LOADING ---------*/
#loading {
    position: fixed;
    top: 0px;
    left: -100vw;
    z-index: 1000000000000000000000000000;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95); /* rgba(97, 211, 149, 0.95) */
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.loading_logo {
    position:relative;
    top: 46%;
    left: 47%;
    min-width: 50px;
    max-width: 125px;
    min-height: 50px;
    max-height: 125px;
    background: url(https://scavengg.com/photos/logo.png) no-repeat center center;
    background-size: contain;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.2); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.2); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}
.pulse {
	animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin: 70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.spinner {
  width: 75px;
  height: 75px;

  position: relative;
  margin: 22% auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*--------------------------------*/
/*------- Input loader -----------*/
.loader {
    display: none;
    height: 2px;
    width: 100%;
    opacity: 0;
    position: relative;
    overflow: hidden;
    background-color: white;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 2px;
    background-color: #61d395;
    animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
#filter_display {
    width: 100%;
    min-height: 50px;
    max-height: 500px;
    padding: 0px 5px;
    margin: 0px auto;
    margin-top: 10px;
    color: #61d395;
    font-size: 15px;
    font-weight: 500;
}
.filter_pill_green {
    display: inline-block;
    max-width: 250px;
    min-height: 15px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px #61d395 solid;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    margin: 3px;
}
.filter_pill {
    display: inline-block;
    max-width: 250px;
    min-height: 15px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px transparent solid;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
/*-----------------------------*/
/*------- Custom Checkbox 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
----*/
#filter {
    display: block;
    min-height: 0px;
    max-height: 10000px; /* set it on page load */
    margin-top: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: 'Roboto', sans-serif;
}
.filter_divs {
    display: none; /* set it on page load */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.toggle_filter {
    position: relative;
    display: inline-block;
    top: 10px;
    left: 5px;
    z-index: 10000;
    background: #61d395;
    width: 40px;
    height: 40px;
    border: 3px white solid;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 8px 0px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.toggle_price_filter {
    position: relative;
    display: inline-block;
    top: 10px;
    left: 5px;
    z-index: 10000;
    background: #9999ff;
    width: 40px;
    height: 40px;
    border: 3px white solid;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 8px 0px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;  
}
.toggle_custom_request {
    position: relative;
    display: inline-block;
    top: 10px;
    left: 5px;
    z-index: 10000;
    background: #ff9900;
    width: 40px;
    height: 40px;
    border: 3px white solid;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 8px 0px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;  
}
.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.filter_tabs {
    padding: 5px;
    font-size: 14px;
    margin: 2px 0px;
    text-overflow: ellipsis;
    cursor: pointer;
    background: white;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.filter_tab_selected {
    background: rgba(97, 211, 149, 0.5);
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.2);
}
.filter_tab_unselected {
    background: white;
    box-shadow: 1px 2px 10px -2px white;
}
.filter_hover:hover {
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.2);
}
/*--- Bottom page loader -----*/
#bottom_loader.bottom_loader {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 100000;
    animation: bottom_loader 400ms linear infinite;
}
#bottom_loader.bottom_loader .bottom_loader_icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #61d395;
    border-left-color: #61d395;
    border-radius: 50%;
}
@keyframes bottom_loader {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
/*-----------------------------*/
#settings_payment {
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 375px;
    margin: 10px auto;
}
.filter_btn {
    display: none;
    background: transparent;
    border-radius: 3px;
    padding: 5px;
    margin-top: 15px;
    border: none;
    color: #d6d6d6;
    font-size: 16px;
}
/*------- Google Maps API ----- */
.pac-container {
    position: relative;
    z-index: 100000000;
    background: white;
    cursor: pointer;
    font-family: 'Josefin Slab', serif;
}
.pac-icon {
    color: #262626;
}
.pac-item-query {
    color: #262626;
    font-size: 20px;  
}
.pac-matched {
    color: #262626;
    font-size: 20px;  
}
.pac-item {
    min-height: 40px;
    color: #262626;
    padding: 10px;
    font-size: 20px;
}
.pac-item:hover {
    background: #f1f1f1;
}
.pac-item:selected {
    background: #f1f1f1;
}
/*----------------------*/
.faq_box {
    width: 98%;
    min-height: 150px;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 15px auto;
}
.faq_title {
    font-size: 25px;
    font-weight: 700;
    margin: 10px auto;
    padding: 0px;
}
.faq_ans {
    font-size: 20px;
    font-weight: 500;
    margin: 5px auto;
    padding: 0px;
}
.faq_date {
    color: #e6e6e6;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
}
/*------- POPUP -----------------*/
.popup_div {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
}
.popup {
    position: relative;
    width: 75%;
    min-height: 50%;
    max-height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
    top: 10%;
    left: 12.5%;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Arvo', serif;
}
#cd_time {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Arvo', serif;
    color: #262626;
}

/*------- REQUESTS Upload Form ---*/
#requests_image {
    display: block;
    min-width: 50px;
    max-width: 100px;
    min-height: 50px;
    max-height: 100px;
    padding: 0px;
    border-radius: 5px;
	margin: 10px 0px;
    text-align: left;
}
#requests_avatar_preview {
    display: block;
    min-width: 50px;
    max-width: 100px;
    min-height: 50px;
    max-height: 100px;
    border: none;
    border-radius: 5px;
}
.requests_settings_previewing {
    position: relative;
    top: 0;
    left: 0;
    min-width: 50px;
    max-width: 100px;
    min-height: 50px;
    max-height: 100px;
    border: none;
    border-radius: 5px;
}
#requests_file_settings {
    position: fixed;
    top: -50em;
}
/*-------------------------------*/